body{
	min-width:960px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.page-radios {
	display: none;
}
@for $i from 1 through 4 {
	#page-#{$i}-ctrl:checked ~ #pages #page-#{$i}{
		max-height: none;
		opacity: 1;
	}
	#page-#{$i}-ctrl:checked ~ #tabs-list #li-for-page-#{$i}{
		pointer-events: none;
		cursor: default;
		-webkit-transform: translate3d(0, 1px, 0);
		transform: translate3d(0, 1px, 0);
	}
	#page-#{$i}-ctrl:checked ~ #tabs-list #li-for-page-#{$i} label.page-label{
		background-color:#fafafa;
		color: #a0a0a0;
	}
}
ul#tabs-list {
	list-style: none;
	text-align: right;
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
	padding: 0;
	font-size:0;
	li {
		text-align: center;
		display:inline-block;
		font-size: 14px;
		border-right: 1px solid #e3e3e3;
		border-left:1px solid #e3e3e3;
		border-top:1px solid #e3e3e3;
		position: relative;
		border-radius:3px 3px 0 0;
		margin:0 15px 0 0;
		label.page-label{
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			display: block;
			color: #b1b1b1;
			cursor: pointer;
			background-color: #f0f0f0;
			-webkit-transition-property: background-color, color;
			transition-property: background-color, color;
			-webkit-transition-duration: 200ms;
			transition-duration: 200ms;
			border-radius:3px 3px 0 0;
			position: relative;
			padding: 10px 25px;
			font-size: 14px;
			&:hover{
				background-color: #fafafa;
				color: #a0a0a0;
			}
		}
	}
}
#pages {
	background-color:#fafafa;
	padding:40px;
	section {
		box-sizing: border-box;
		max-height: 0;
		opacity: 0;
		-webkit-transition: opacity 600ms;
		transition: opacity 600ms;
		overflow-y: hidden;
	}
}